body {
    display: grid;
    margin: 0%;
    padding: 0%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background: url(../imagenes/2560px-Puerto_Madero\,_Buenos_Aires_\(40689219792\).jpg);
    background-size: 100%;
    background-attachment: fixed;
}




.txtx11 {
    margin-left: 400px;
}

.txtx10 {
    margin-left: 350px;
}

.abrirmenu {
    display: none;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27406C;
    color: #FFF;
}

.Navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.Navbar-links li {
         list-style: none;
}

.Navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    
}

.Navbar-links li:hover {
    transform: scale(1.3,1.4);
    transition: 1s;
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;

}

nav {
    width: 100%!important;
    overflow-x: hidden!important;
}

.cons {
    margin-left: 30px;
    text-decoration: none;
    color: #CEB177;
}

.titulomante {
    margin-top: 100px;
    margin-left: 350px;
}

.apellido {
    margin-left: 600px;
    margin-top: -20px;
}

.email {
    margin-left: 300px;
}

.nombre {
    margin-left: 20px;
}

.pais {
    margin-left: 20px;
}

.letra {
    margin-left: 100px;
    margin-top: 15px;
}

.contenidona {
    
    margin-left: 20px;
}

.letraini {
    margin-top: 1px;
    margin-left: 450px;
}

.txtx {
    
    font-size: 30px;
}

.imgft2 {
    margin-left: 1200px;
}

.tituloinver {
    display: flex;
    align-items: center;
    margin-left: 600px;
    margin-top: 370px;
}

.fondito {
    margin-top: 150px;
}

.mapa1 {
    margin-top: -750px;
}

.mapa {
    width: 1400px;
    height: 750px;
    margin-left: 602px;
    
}

.cuerpo1 {
    margin: 0%;
    padding: 0%;
    display: grid;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background: url(../imagenes/02.png);
    background-size: 100%;
    background-attachment: fixed;
    background-position: 20%;
}

.txtxproyecto {
    margin-left: 100px;
}

.titulo2 {
    font-style: oblique;
    color: rgb(17, 92, 157);
    margin: 0 auto; 
}

.title {
background-color: #27406C;
font-style: oblique;
color: rgb(17, 92, 157);
margin: 0 auto;

}

.grid_index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 20% 24% 30% 1%;
    grid-row-gap: 1.0rem;
    grid-template-areas:  "header"
                          "title" 
                          "nav"
                          "section"
                          "aside"
                          "footer";
}






.imagen {
  width: 200px; 
  height: 200px;
}

.flex-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 5%;
    
}

.imagen2 {
    width: 500px;
    height: 250px;
}

.logo1 {
    width: 50px;
    height: 50px;
}


.animaciones {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}




.botonera {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #CEB177;
    font-size: 20px;   
    margin: 16px;
}

.letrainver {
    border-style: solid;
    border-radius: 50px;
    border-color: #CEB177;
    margin-left: 10px;
}

.letrainver2 {
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    color: #CEB177;
    margin-left: -50px;
    
}



.letrainver:hover {
     font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    background-color: #CEB177;
    
}

.letrainver2:hover {
    color: black;
}





.emagen {
    width: 500px;
    height: 250px;
    margin: -70px;
    margin-left: 10px;
    
    
}

.imgaerou {
    margin-top: -300px;
    margin-left: -660px;
}

.textito3 {
    text-decoration: none;
    color: #FFF;
}



.img01 {
    width: 500px;
    height: 500px;
    border-radius: 10%;
 
}

.img01:hover {
   width: 500px;
   height: 500px;
   border-radius: 10%;
   animation-name: girar;
   animation-duration: 7s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   justify-content: center;
}

@keyframes girar {

    from {
        transform: rotate(0deg); }
        to {
            transform: rotate(360deg);
            

        }
    }

.app {
    position: absolute;
    width: 0%;
    height: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 600px;
    margin-left: 900px;

}

.navbar {
    background-color: #27406C;
}



.Dana {
 width: 100%;
 height: 700px;
 margin-top: 200px;
 margin-left: 600px;
 align-items: center;
 animation: backInRight;
 animation-duration: 5s;
}


.Spi {
    width: 100%;
    margin-top: 200px;
    margin-left: 600px;
    animation: backInRight;
    animation-duration: 15s;
}

.Arou {
    width: 100%;
   margin-top: 200px;
   margin-left: 600px;
   animation: backInLeft;
   animation-duration: 10s;
}

.Manua {
    width: 100%;
    margin-top: 200px;
    margin-left: 600px;
    animation: backInLeft;
    animation-duration: 20s;
}

.letritamanu {
    margin-left: 150px;
}


.imgft {
    width: 100%;
    height: 500px;
    
}



.letra1 {
    color: white;
    font-size: larger;

}


.form-label {
    color: white;
    font-size: larger;
    
}

.fondito {
    background-color: black;
    opacity: .6;
}


.lamparita {
    width: 150px;
    height: 150px;
}

.texto001 {
    background-color: black;
    opacity: .6;
    color: white;
    margin-top: 10px;
}



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#27406C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}


.float:hover {
	text-decoration: none;
	color: #27406C;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}


.imgft1 {
    width: 600px;
    height: 750px;
    margin-left: 1px;
    margin-top: 0px;

}

.fot1 {
    margin-top: 0px;
}

.navbar {
    margin-top: -10px;
}


.insta {
    width: 50px;
    height: 50px;
    margin-top: -80px;
    margin-left: 1600px;
}

.face {
    width: 50px;
    height: 50px;
    margin-top: -130px;
    margin-left: 1500px;
}


.sobre {
    width: 50px;
    height: 50px;
    margin-top: -180px;
    margin-left: 1400px;
}

.imgyutu {
    width: 50px;
    height: 50px;
    margin-top: 200px;
    margin-left: 1300px;
}

.wp {
    width: 50px;
    height: 50px;
    margin-top: -220px;
    margin-left: 1700px;
    
}

.foterking {
    margin-top: 500px;
    margin-left: -550px;
    background-color: #27406C;
    height: 400px; 
}



.t9 {
    margin-top: -500px;
    margin-left: 200px;
}

.t10 {
    margin-top: 100px;
    margin-left: 200px;
    
}

.t11 {
    margin-top: 150px;
     margin-left: 200px;
}


.txproyecto {
    color: white;
    font-size: larger;
    margin: 50px;
    padding: 150px;
}

.txtxproyecto {
    margin-left: 0px;
    font-size: 50px;
}

.txproyecto1 {
    margin-top: -300px;
    
    
}

.imga {
    transition: 1s;
    width: 600px;
    height: 600px;
}

.imgd {
    transition: 1s;
    width: 600px;
    height: 600px;
   
}


.conte4:hover .imgd {-webkit-transform:scale(1);transform:scale(1.1);}
.conte4 {overflow: hidden;}

.conte5:hover .imga {-webkit-transform:scale(1);transform:scale(1.1);}
.conte5 {overflow: hidden;}

.conte4 {
    margin-left: -100px;
}

.conte8 {
    margin-left: -100px;
}

.col {
    margin-left: -59px;
}



.txfondiu {
    background: #999;
    width: 600px;
    height: 600px;
    margin-left: -100px;
    margin: 0;
    text-align: center;
    opacity: 0.7;

}

.txtx3 {
    margin-left: -800px;
}

.txtx4 {
    margin-left: 780px;
    margin-top: -49px;
}

.txtx5 {
    margin-left: -800px;
}

.txtx6 {
    margin-left: 830px;
    margin-top: -50px;
}

.txtx7 {
    margin-left: 70px;
    margin-top: -50px;
}

.txtx8 {
    margin-left: 100px;
    margin-top: -50px;
}

.container {
    margin-top: -150px;
    margin-left: 1500px;
}

.abajo {
    margin-top: -400px;
}

.letraeri {
    color:#27406C;
    font-size: 70px;
    width: 16%;
    margin-left: 600px;
    margin-top: -100px;
    width: 390px;
    height: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.letraeri2 {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}


.nav-fill {
    background-color: #818895; 
    height: 30px;
}


.nav-link1 {
    color: white;
    text-decoration: none;
    cursor: point
}

.nav-link1:hover {
    background-color: #27406C;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
}

.imgdana {
    width: 450px;
    height: 350px;
    margin-top: -250px;
    margin-left: -500px;
    cursor: pointer;
}

.imgspi {
    width: 450px;
    height: 350px;
    margin-top: -350px;
    margin-left: -450px;
    cursor: pointer;
}

.imgaro {
    width: 500px;
    height: 450px;
    margin-top: -300px;
    margin-left: 1200px;
    cursor: pointer;
    animation: backInLeft;
    animation-duration: 10s;
    }



.imgdana:hover {
    transform: scale(1.2,1.2);
    transition: 1s;
    cursor: pointer;
}

.imgspi:hover {
    transform: scale(1.2,1.2);
    transition: 1s; 
    cursor: pointer;
}

.imgaro:hover {
    transform: scale(1.3,1.4);
    transition: 1s;
    cursor: pointer;
}
.imgmanu:hover {
    transform: scale(1.3,1.4);
    transition: 1s;
    cursor: pointer;
}

.sectioninit {
   margin-top: 1200px;
   margin-left: 0px;
   width: 0;
   display: flex;
}

.letrasinit {
    font-size: larger;
    margin-left: 10px;
    margin-top: 100px;
}


.txfondiu {
    background: #999;
    width: 100%;
    height: 700px;
    margin: 0;
    text-align: center;
    opacity: 0.7;
    margin-top: 100px;

}


.txfondiu2 {
    background: #999;
    width: 700px;
    height: 600px;
    margin-left: 1200px;
    text-align: center;
    opacity: 0.7;
    margin: -50px;
  
}




.imgservi {
    width: 1300px;
    height: 1000px;
    margin-left: 350px;
    margin-top: 200px;
    animation: flip;
    animation-duration: 3s;
    
}

.imgservi:hover {filter: grayscale(80%);}


.imgmanu {
    width: 450px;
    height: 400px;
    margin-top: -350px;
    margin-left: 1300px;
    animation: backInLeft;
    animation-duration: 20s;
}

.txspi {
    margin-left: 50px;
}


.tituloflor {
    font-size:x-large;
    margin-top: 850px;
    margin-left: 90px;
    width: 1000px;
    height: 100%;
}

.letraflor {
    font-size: 50px;
   font-weight:900;
   font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
   color: #CEB177;

    
}


.emagen1 {
    width: 500px;
    height: 250px;
    margin-left: 1270px;
    margin-top: -600px;
    
}


.textofot1 {
    margin-top: -200px;
}



.letraeri2 {
    margin-left: -500px;
}

.txtxx {
    margin-left: -500px;
}

.nav-item1 {
    margin-left: 250px;
}

.nav-item2 {
    margin-left: 300px;
}

.nav-item3 {
    margin-left: 400px;
}

.nav-item4 {
    margin-left: 400px;
}

.conte4 {
    margin-left: -1700px;
}

.txtx {
    font-size: 17px;
    
}

.imgcomple1 {
    width: 350px;
    margin-left: -160px;
    margin-top: -90px;
    
    }
    
    .imgcomple2 {
        width: 350px;
        margin-left: -160px;
    }
    
    .imgcomple3 {
        width: 350px;
        margin-left: -160px;
    }
    
    .imgcomplejo2 {
        width: 350px;
        margin-top: 230px;
        margin-left: 0px;
    }
    
    .imgcomplejo3 {
        width: 350px;
        margin-left: -360px;
        margin-top: -230px;
        
    }

    .imgcomple4 {
        margin-left: 250px;

    }


    .imgcomple {
        margin-top: 0px;
    }

    .imgcomplejogrande {
        margin-left: -10px;
    }


    

  



/* celular */

@media only screen and (min-width:320px) and (max-width:420px) {

    body {
        margin: 0;
        padding: 0;
        display: grid;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        background: url(../imagenes/2560px-Puerto_Madero\,_Buenos_Aires_\(40689219792\).jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-sizing: border-box;
        width: 100%!important;
        overflow-x: hidden!important;
      
    }


    html, body {
        width: 100%!important;
        overflow-x: hidden!important;
    }

    
    .bodyinverti {
        margin: 0%;
        padding: 0%;
        display: grid;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        background: url(../imagenes/pexels-towfiqu-barbhuiya-13466267.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    
    }

    .titulomante {
        margin-left: 20px;
        margin-top: 50px;
    
    }

    .letramante {
        font-size: 14px;
    }


  


 

   .bodycelu {
    position:relative;
    width:100%;
    min-height:250px;
    margin:auto;
    overflow:hidden;
   }
    
    

     .letrainver2 {
        margin-left: -500px;
        color: white;
        font-size: 16px;
     }

     .letraflor {
        margin-left: -23px;
        margin-top: -250px;
       
     }



     .letra:hover {
        
        color: #CEB177;
    }

.img01 {
    margin-top: -150px;
    margin-left: -470px;
    width: 300px;
    height: 300px;
    border-radius: 10%;
 
}

.img01:hover {
   width: 300px;
   height: 300px;
   border-radius: 10%;
   animation-name: none;
   justify-content: center;
}

@keyframes girar {

    from {
        transform: rotate(0deg); }
        to {
            transform: rotate(0deg);
            

        }
    }

.app {
    position: absolute;
    width: 0%;
    height: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 600px;
    margin-left: 900px;

}

.txproyecto2 {
    margin-left: 1200px;
}

.imgft1 {
    margin-left: -80px;
}




.mapa1 {
    margin-top: 0px;
    margin-left: -600px;
}



  .emagen {
    width: 200px;
    height: 150px;
    margin-top: 5px;
    
}



.tituloflor {
    font-size:x-large;
    margin-top: 450px;
    margin-left: -1350px;
    width: 200px;
    height: 100%;
}


.Dana {
    width: 200px;
    height: 300px;
    margin-top: 200px;
    margin-left: -250px;
    align-items: center;
    
   }

   .imgdana {
    width: 450px;
    height: 350px;
    margin-top: 200px;
    margin-left: 200px;
    cursor: pointer;
}

.sectioninit {
    margin-top: 1200px;
    margin-left: 500px;
 }

 .Dana{
    margin-top: -200px;
    margin-left: -450px;
   
 }

 .imgdana {
    margin-left: -50px;
 }

 .Arou {
    margin-top: 900px;
    margin-left: -470px;
 }

 .imgaro {
    margin-top: 200px;
    margin-left: -540px;
 }

 .Spi {
    margin-top: 200px;
    margin-left: -450px;
 }

 .imgspi {
    margin-top: 200px;
    margin-left: -70px;
 }

 .txspi {
    margin-left: 70px;
 }


.Manua {
    margin-top: 200px;
    margin-left: -482px;
}

.imgmanu {
    margin-top: 200px;
    margin-left: -500px;
}

.letrasmanua {
    margin-left: -100px;
    margin-top: -50px;
}

.letritamanu {
    font-size: 22px;
}

.letrasinit {
    font-size: 10px;
}

.letranav1 {
    margin-top: 1px;
}

.container-fluid {
    margin-left: 8px;
}

.cons {
    margin-left: 30px;
    text-decoration: none;
    color: #CEB177;
}

.letrasinit1 {
    margin-top: -100px;
  
}

.terminado1 {
    margin-left: -240px;
    font-size: 15px;
}

.terminado2{
    margin-left: -470px;
    font-size: 15px;
}

.terminado3 {
    margin-left: -240px;
    margin-top: -39px;
    
    font-size: 15px;
}

.terminado4 {
    margin-left: -90px;
    margin-top: -39px;

    font-size: 15px;
}



.mod1 {
    margin-left: 50px;
}

.mod2 {
    margin-left: 50px;
}

.mod3 {
    margin-left: 50px;
}

.mod4 {
    margin-left: 50px;
}

.mod5 {
    margin-left: 50px;
}

.mod6 {
    margin-left: 50px;
}

.mod7 {
    font-size: 12px;
    margin-left: 50px;
}

.mod8 {
    margin-left: 50px;
}

.mod9 {
    margin-left: 50px;
}

.mod10 {
    margin-left: 54px;
    font-size: 10px;
}

.mod11 {
    font-size: 13px;
}

.mod12 {
    font-size: 13px;
}

.mod13 {
    margin-left: -70px;
    font-size: 10;
}

.mod14 {
    margin-left: -60px;
    font-size: 25px;
}

.mod15 {
    margin-left: -47px;
    font-size: 12px;
}

.mod16 {
    margin-left: -70px;
}

.mod17 {
    margin-left: -70px;
}

.mod18 {
    margin-left: -60px;
}

.mod19 {
    margin-left: -70px;
}

.mod20 {
    margin-left: -60px;
}

.mod21 {
    margin-left: -60px;
}

.mod22 {
    margin-left: -60px;
}

.letrasaro1 {
    margin-left: 50px;
    margin-top: 50px;
}

.foterking {
    margin-top: 100px;
    margin-left: -400px;
    background-color: #27406C;
    height: 700px;
   width: 1100px;
    
}

.botonera {
    margin-left: 8px;
}

.emagen2 {
    margin-left: -150px;
}

.foterking2 {

    margin-top: 700px;
    margin-left: -400px;
    background-color: #27406C;
    height: 700px;
   width: 1800px;

}

.emagen1 {
    width: 350px;
    margin-left: -50px;
    margin-top: -1000px;
}


.imgyutu1 {

   margin-left: 730px;
   
}

.insta1 {
    margin-left: 420px;
    
}

.wp1 {
    margin-left: 500px;
    margin-top: -80px;
}

.face1 {
    margin-left: 660px;
    
}

.sobre1 {
    margin-top: 10px;
    margin-left: 580px;
    width: 50px;
    height: 50px;
}

.txproyecto {
    margin-left: -700px;
    font-size: 15px;
}

.txtxproyecto {
    margin-left:  -23px;
    font-size: 20px;
  
}

.letranos101 {
    margin-left: -15px;
}



.txproyecto2 {
    margin-left: -480px;
}

.txtx2 {
    margin-left: -150px;
}

.imgft2 {
    margin-top: 1200px;
}

.txproyecto1 {
    margin-left: -260px;
    
}

.txtx22 {
    font-size: 40px;
    margin-left: -100px;
}

.titueri {
    margin-left: 20px;
}

.txtx {
    font-size: 13px;
    margin-left: 690px;
}



.txtx10 {
    margin-top: -10px;
    margin-left: 350px;
    font-size: 13px;
    
}

.txtx11 {
    margin-left: 350px;
    font-size: 13px;
    margin-top: -40px;

}

.textito {

    font-size: 10px;
    margin-left: -750px;
}

.textito1 {
    margin-left: -760px;
}

.textito2 {
    margin-left: -750px;
    font-size: 10px;
}

.textito3 {
  
    margin-left: -750px;
    text-decoration: none;
    font-size: 10px;
    color: #FFF;
}

.txtx2 {
    margin-left: -550px;
}

.txtx22 {
    margin-left: 650px;
}

.letraeri2 {
    font-size: x-large;
    
    margin-left: -180px;
}
 
.letraini {
    margin-left: -5px;
    margin-top: 2px;
    font-size: 10px;
}

.letraini1 {
    margin-left: -5px;
    font-size: 10px;
}

.letrana1 {
    margin-left: -20px;
    font-size: 10px;
    margin-top: 9px;
}

.letrana2 {
    margin-left: 13px;
    font-size: 10px;
    margin-top: 9px;
}

.letrana3 {
    margin-left: 13px;
    font-size: 10px;
    margin-top: 9px;
}

.letrana4 {
    margin-left: 13px;
    font-size: 10px;
    margin-top: 9px;
}

.letrana5 {
    margin-left: 18px;
    font-size: 10px;
    margin-top: 9px;
}

.letrana6 {
    margin-left: -90px;
    margin-top: 9px;
}

.letrana7 {
    font-size: 10px;
    
}


.letrana13 {
    margin-left: -100px;
    margin-top: 10px;
}

.letrana14 {
    font-size: 18px;
    
}

.tximgconte {
    margin-left: -70px;
}

.imgd {
    width: 700px;
    height: 450px;
}

.imga {
    width: 550px;
    height: 450px;
}

.imgservi {
    width: 350px;
    height: 350px;
    margin-left: 35px;
    margin-top: 200px;
    
}

 .emagen1 {
    margin-left: -40px;
 }

.emagen2 {
    margin-left: 430px;
}

.fote2 {
    margin-left: -50px;
}



.letrap {
    margin-left: -5px;
}

.letraeri3 {
    font-size: 70px;
    margin-left: -450px;
}

.conte6 {
    margin-left: -95px;
}

.emagen2 {
    margin-left: 470px;
}

.col-md-4 {
    margin-left: -10px;
}

.col-md-6 {
  margin-left: -10px;
}

.col-md-3 {
  margin-left: 630px;
}

.apellido {
    margin-top: 20px;
    margin-left: 330px;
}

.email {
    margin-top: -10px;
    margin-left: 30px;
}

.nombre {
    margin-left: 20px;
}

.pais {
    margin-left: 20px;
}

.letritamanu {
    font-size: 15px;
    
}

.letrasmanua {
    margin-left: -40px;
}

.imga {
    width: 320px;
    margin-left: 10px;
    
}

.conte5 {
    margin-left: -21px;
}

.imgd {

    margin-left: -120px;

}

.titulosp {
    color: black;
    margin-left: 16px;
    font-size: 11px;
}

.imgspa {
    width: 50px;
    margin-left: 0px;
}

.imgspa1 {
    width: 405px;
}


.imgspa2 {
    width: 405px;
}

.titulohotel {
    font-size: 20px;
    margin-left: 70px;
}

.imgsanjuan {
    margin-left: 50px;
    width: 500px;
    
}

.titulosanjuan {
    margin-left: 80px;
    font-size: 20px;
}


.titulosanjuan1 {
    margin-left: 50px;
    font-size: 15px;
}


.bailarda {
    margin-left: -22px;
    width: 500px;
    
}

.titulobailarda {
    margin-left: 50px;
    font-size: 16px;
}


.imgpaz {
    margin-left: 0px;
    width: 400px;
}

.imgpaz1 {
    width: 300px;
    margin-left: 50px;
}


.titulopaz1 {
    margin-left: 20px;
    font-size: 15px;
}

.titulopaz {
    margin-left: 50px;
    font-size: 20px;
}


.imggallegos {
    margin-left: 0px;
    width: 500px;
}

.imggallegos1 {
    width: 500px;
}


.titulogallegos {
    margin-left: 20px;
    font-size: 15px;
}

.titulogallegos1 {
    margin-left: 100px;
    font-size: 20px;
}

.imgrocco {
    margin-left: 0px;
    width: 450px;
}

.tituloroco {
    margin-left: 20px;
    font-size: 15px;
}

.tituloroco1 {
    margin-left: 100px;
    font-size: 20px;
}

.imgcomple {
    margin-left: -50px;
    width: 500px;
}


.imgcomplejo1 {
    margin-top: 10px;
    margin-left: 200px;
    margin-top: -10px;
    
}

.imgcomple1 {
width: 500px;
margin-left: -150px;

}

.imgcomple2 {
    width: 500px;
    margin-left: -147px;
}

.imgcomple3 {
    width: 500px;
    margin-left: -150px;
}

.imgcomplejo2 {
    width: 500px;
}

.imgcomplejo3 {
    width: 500px;
}

.titulopampa {
    margin-left: 20px;
    font-size: 15px;
}


.titulopampa1 {
    margin-left: 10px;
    font-size: 20px;
}

.imgjuez {
    margin-left: 0px;
    width: 500px;
}

.titulojuez {
    margin-left: 20px;
    font-size: 15px;
}


.titulojuez1 {
    margin-left: 40px;
    font-size: 20px;
}

.imgcomplejo2 {
    width: 200px;
    margin-left: 270px;
   
}

.imgcomplejo3 {
   width: 220px;
   height: 147px;
   margin-top: -177px;
   margin-left: 50px;
}



}

 

 /* tablet y notebook */


 @media only screen and (min-width:900px) and (max-width:1460px) {



    .navbar {
        margin-top: -100px;
    }

    .textito3 {
        text-decoration: none;
        color: #FFF;
    }
   
    .letraflor {
        margin-left: -250px;
        margin-top: -100px;
       
     }

     .img01 {
        margin-left: -120px;
     }

    .Dana {
        margin-left: 500px;
    }

    .Arou {
        margin-left: 500px;
    }

    .imgaro {
        margin-left: -20px;
    }

    .Spi {
        margin-left: 500px;
    }

    .Manua {
        margin-left: 500px;
    }

    .imgmanu {
        margin-left: -20px;
    }

    .foterking {
        margin-top: 100px;
        background-color: #27406C;
        height: 100%;
        width: 3000px;
        
    }

    .container-fluid {
         margin-left: -300px;
    }

   .fot1 {
    margin-left: -150px;
   }

   .emagen2 {
    margin-left: 0px;
   }

  .foterking {
    margin-left: -750px;
  }

  .imgaro {
    margin-left: 1050px;
  }

  .imgmanu {
    margin-left: 1070px;
  }

  .localidad {
    margin-left: -200px;
  }

  .titulomante {
    margin-left: 120px;
    margin-top: 70px;
  }

  .textito {
    font-size: 13px;
  }

  .secnos {
    margin-left: -800px;
  }

  .txtx {
    font-size: 12px;
    margin-left: -900px;
  }

  .txtx10 {
    margin-left: -100px;
  }

  .txtx11 {
    margin-left: -90px;
  }

  .txtx22 {
    margin-left: 500px;
  }

  .textito {
    font-size: 12px;
  }
  
  .titueri {
    margin-left: -170px;
  }

  .letraeri2 {
    font-size: 40px;
    margin-left: -800px;
  }

  .terminado1 {
    margin-left: -100px;
  }

  .terminado2 {
    margin-left: -100px;
  }
  .terminado3 {
    margin-left: -170px;
  }
  .terminado4 {
    margin-left: -200px;
  }

  .conte5 {
    margin-left: -800px;
  }

  .imgservi {
    margin-left: 200px;
    width: 800px;
    height: 850px;
  }

  .row-cols-md-2 {
    margin-left: 200px;
  }

  .sectioninit {
    margin-left: -90px;
  }

  .tituloflor {
   margin-left: -100px;
  }

  .img01 {
    margin-left: -170px;
  }

  .titulosp {
    color: black;
    margin-left: 300px;
}

.imgspa {
    margin-left: 120px;
}

.imgsanjuan {
    margin-left: 200px;
}

.bailarda {
    margin-left: 150px;
}

.imgpaz {
    margin-left: 300px;
}

.imggallegos {
    margin-left: 350px;
}

.imgrocco {
    margin-left: 450px;
}

.imgcomplejo1 {
    margin-top: -400px;
    margin-left: 1120px;
}

.imgcomple {
    margin-left: 10px;
}


.imgjuez {
    margin-left: 250px;
}



  
 }

 /* pc */
    @media only screen and (min-width:481px) and (max-width:1650px) {


        .foterking {
            margin-top: 100px;
            background-color: #27406C;
            height: 100%;
            width: 3000px;
            
        }

 

    }

