.letra {
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin-top: 30px;
    
}

.letra:hover {
    transform: scale(1.2,1.2);
    transition: 1s;
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.letrainver {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #CEB177;
    font-size: xx-large;
    border-style: double;
    margin-top: 15px;
   
}



.navbar-toggler-icon {
    background-color:#CEB177;
}

.letraini {
    margin-top: 15px;
}

.sectioninit {
    margin-top: 1200px;
 }


 .foterking {
    margin-top: 100px;
    margin-left: -550px;
    background-color: #27406C;
    height: 560px;
    padding: -500px;
    padding-top: -700px;
    
}


.hotel1 {
    background-color: #CEB177;
    opacity: .7;
    margin-top: 100px;
    margin-left: 0px;
    
}

.hotel2 {
   
    margin-top: 400px;
    
    background-color: #CEB177;
    opacity: .7;
}
.hotel3 {
   
    margin-top: 400px;
    background-color: #CEB177;
    opacity: .7;
}
.hotel4 {
   
    margin-top: 400px;
    
    background-color: #CEB177;
    opacity: .7;
}
.hotel5 {
   
    margin-top: 400px;
    
    background-color: #CEB177;
    opacity: .7;
}
.hotel6 {
   
    margin-top: 400px;
   
    background-color: #CEB177;
    opacity: .7;
}

.hotel7 {
   
    margin-top: 400px;
   
    background-color: #CEB177;
    opacity: .7;
}

.hotel8 {
   
    margin-top: 400px;
   
    background-color: #CEB177;
    opacity: .8;
}

.titulosp {
    color: black;
    margin-left: 600px;
}




.imgpaz {
    margin-left: 500px;
}

.imggallegos {
    margin-left: 600px;
}


.imgrocco {
    margin-left: 650px;
}

.imgcomplejo1 {
    margin-top: -400px;
    margin-left: 1120px;
}

.imgjuez {
    margin-left: 500px;
}

.imgspa {
    margin-left: 350px;
   animation: animate__bounceInLeft;
   animation-duration: 6s;
}

.titulohotel {
    margin-left: 880px;

}

.imgsanjuan {
    margin-left: 470px;
}

.bailarda {
    margin-left: 450px;
}

.imgcomple {
    margin-left: 200px;
}

